<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Rock Identification</title>
  <link rel='stylesheet' href='../static/style.css'>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script src='../static/client.js'></script>
</head>
<body>
  <h2>Geology Project</h2>
<div>
  <div class='center'>
    <h1 class='title'>Recognizing <strong>Granite</strong> and <strong>Obsidian</strong> Rock using Deep-Learning</h1>
    <p>
      Upload images of <strong>Granite</strong> rocks, <strong>Obsidian</strong> rocks or both to see whether my model is able to recognize it correctly or not!
      
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <div class="whitecontain">
      <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
    </div>
  </div>
</div>
<footer><h3>Made with ❤️ Anshuman Mohanty</h3></footer>
</body>
</html>
