body {
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
    background-color: blanchedalmond;
}

p {
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    position: absolute;
    left: 4vw;
    font-size: 2vw;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    border: solid 0.2vw black;
    text-align: center;
    width: 20vw;
}

strong {
    color: red;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 7vw;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    text-transform: uppercase;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 1.5vw;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

button.choose-file-button {
    width: 20vw;
    height: 4vw;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 4px black;
    font-size: 13px;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

button.choose-file-button:hover {
    border: solid 4px red;
    background-color: red;
    color: white;
}
button.analyze-button {
    width: 20vw;
    height: 3vw;
    border: solid 1px black;
    border-radius: 2px;
    background-color: black;
    font-size: 1.4vw;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

h3 {
    font-size: 2vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10vw;
    padding-top: 10vw;
}
footer {
    position: relative;
    background-color: black;
    width: 110vw;
    margin-left: -6vw;
    height: 20vw;
}
